/* CSS for gradient shapes */

/* centering */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* grid layout */

#context {
  width: 480px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  perspective: 600px;
}

/* gradient shapes */

.square {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, aquamarine, purple);
  transition: opacity 500ms, transform 500ms ease-out;
  /* transform: rotateX(20deg) rotateY(30deg); */
}

.square:hover {
  cursor: crosshair;
}

.square:active {
  background: linear-gradient(to bottom right, aquamarine, orange);
}
