
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
.items{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg{

  background-color: white;
  justify-content: center;

}

#audio{
width:100%;
position:relative;
justify-content: center;
}
audio{
filter:blur(1px);
text-align: center;
}
#button{
  color:green;
  margin-left: 45%;
  justify-content: center;
  /* display:none; */
}
