body{
  background-color: white;
  font-family: Comfortaa, cursive;
  background-image: url('starry.jpeg'); aqua;
}
h1{
  text-align: center;
  color:aqua;
}
h2{
text-align: center;
color:aqua;
}
h3{
text-align: center;
color:aqua;
}
h4{
text-align: center;
color:aqua;
}
p{
  margin:0;
  font-size: 2em;
  color: orange;
  text-align: center;
}
svg.sign{
  fill:CurrentColor;
  height: 5em;
  wdith:5em;
}
svg.birth{
  background-color: white;
  fill:black;
  height: 7em;
  wdith:7em;
  text-align: center;
}

table{
width:100%;
height:auto;
font-family: Comfortaa, cursive;
padding-left:10%;
padding-right:10%;

}
#chart th {
padding-top: 15px;
padding-bottom: 15px;
text-align: left;
background-color: black;
color: white;
}
#chart td, #chart th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
height:auto;
vertical-align: center;
font-family: Comfortaa, cursive;
color:aqua;
}
#chart{
font-weight:bold;
}
#chart tr:hover {background-color: #000;}

#audio{
width:100%;
position:relative;
justify-content: center;
}
audio{
filter:blur(1px);
text-align: center;
}
