/* *{
  justify-content: center;
  /* padding-left: 100px; */
      /* margin:0;
      padding:0; */
      a{
        position: fixed;
         top : 2%;
         font-size: 1em;
         font-style: italic;
         font-family: cursive;
         font-stretch: expanded;
      }
    body {
    /* margin: 0;
    display: flex; */
    background-image: url('../media/all-colors.png');

    height: 100vh;
    align-items: center;
    justify-content: center;
  }

img{
  min-width: 100%;
  min-height:100%;
}
canvas {
  padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
margin-bottom: auto;
display: block;
      }
#container{
    background: blue;
    background-image: url('../media/all-colors.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left:0;
    min-height: 100%;
    min-width:100%;
    width: auto;
    height: auto;
    z-index: -1;
    height: 100vh;

    background-position:center;

      }
      video{
        position:absolute;
        /* top: 0;
        left: 0; */
        min-height:100%;
        min-width:100%;
        width: auto;
        height: auto;
        mix-blend-mode: multiply;
        /* filter: blur(10px); */
     /* transition: filter 5s; */
    }

    div {
  border: solid red;
  transform: translate(30px, 20px) rotate(20deg);
  width: 140px;
  height: 60px;
}
audio{
  z-index: -300;
}
