*{
  justify-content: center;

    }
    #container{
      background: blue;
      background-image: url('../media/all-colors.png');
      background-size: cover;
      position: fixed;
      top: 0;
      left:0;
      min-height: 100%;
      min-width:100%;
      width: auto;
      height: auto;
      z-index: -1;
      height: 100vh;
      background-size: cover;
      background-position:center;
      display: grid;
      grid-template-colums:repeat(4,25%);
      grid-template-rows:repeat(4,25%);
      transition: 2s;
    }
    video{
      position:absolute;
      top: 0;
      left: 0;
      min-height:100%;
      min-width:100%;
      width: auto;
      height: auto;
      mix-blend-mode: multiply;
      /* filter: blur(10px); */
   transition: filter 5s;
}
audio{
 position:fixed;
 top : 50%;
 justify-content: center;
 mix-blend-mode: lighten;
 z-index: 2;
}
.items{
  padding-top:10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg{

  background-color: url('../media/all-colors.png');
  justify-content: center;

}

.globe {
  margin: 0;
        display: flex;
        height: 50vh;
        align-items: center;
        justify-content: center;

}
img{

   height:100%;
   width: auto;
   mix-blend-mode: difference;
   z-index:900;
   box-shadow: 0 0 5px 10px #555;
   transition: filter 2s;
   position:   inherit; */
 }
