body{
  margin:0;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#building {
  height:20em;
  width: auto;
  fill: gray;
}
#building:hover {
  fill:blue;
}
#building:active{
  opacity: 0.5;
}
